.Palette{
	height:100vh;
	width:100vw;
	display:flex;
	flex-direction:column;
}

.Palette-colors {
	flex-grow:1;
	width:100%; 
}

.Palette-footer{
	background-color:white;
	height:5vh;
	display:flex;
	justify-content: flex-end;
	align-items:center;
	font-weight:bold;
	font-size:1.2rem;
}

.emoji{
	margin:0px 30px;
}